/*
    Variables
    Created on 11/20/2017 by Corey O'Brien.
*/

/* ++++ Path Variables ++++ */
$img-path: "assets/";;
// $font-path: "assets/fonts/";;

/* ++++ Primary Colors ++++ */
$navy: #2A578D;
$dark_blue: #003146;
$sky_blue: #4577b2; //#3497DA
$aqua: #1CB0B5;

/* ++++ Neutral Colors ++++ */
$light_gray: #F4F4F4;
$gray: #989898;
$charcoal: #58585B;

/* ++++ Secondary Colors ++++ */
$rusted_red: darken(#E64C3C, 7%);
$sunrise: #F5C742;
$pink: #D84A8B;
$lavender: #7C7FB6;
$orange: #F4834A;
$green: darken(#64A70B, 7.5%);

/* ++++ Core Colors ++++ */
$black: #000000;
$white: #FFFFFF;
$red: #FF0000;
